@font-face {
  font-family: "Noto Sans";
  src: url("@assets/fonts/NotoSans.ttf") format("truetype");
}

$font-family: "Noto Sans";
$white: #f5f5f5;
$red: #c22131;
$darkgray: #272727;
$gray: #303030;
$lightgray: #454545;
$darksilver: #6b6b6b;
$silver: #777777;
