@use "@styles/base";

body {
  background: base.$darkgray;
}

.popup {
  max-width: 550px;
  float: right;
}

.feedback {
  padding: 0.3rem 0.5rem;
  color: base.$white;
  font-family: base.$font-family;
  background-color: base.$gray;
}
