@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

:root {
  --tureng-translate-white: #f5f5f5;
  --tureng-translate-red: #c22131;
  --tureng-translate-background: #303030;
  --tureng-translate-background-light: #454545;
  --tureng-translate-button-border: #80131e;
  --tureng-translate-row-border: #272727;
  --tureng-translate-scrollbar-track: #272727;
  --tureng-translate-scrollbar-thumb: #6b6b6b;
}

#tureng-translate-button {
  all: initial;
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  border: 1px solid var(--tureng-translate-button-border);
  position: fixed;
  z-index: 2147483647;
  cursor: pointer;
  overflow: hidden;
  visibility: hidden;
  box-shadow: 0 1px 1px rgba(0,0,0,0.18),
              0 2px 2px rgba(0,0,0,0.18),
              0 4px 4px rgba(0,0,0,0.18),
              0 6px 8px rgba(0,0,0,0.18),
              0 8px 16px rgba(0,0,0,0.18);
}

#tureng-translate-panel {
  all: initial;
  margin: 0;
  padding: 0;
  width: 250px;
  max-height: 150px;
  position: fixed;
  z-index: 2147483647;
  visibility: hidden;
  color: var(--tureng-translate-white);
  font-size: 13px;
  overflow: auto;
  background: var(--tureng-translate-background);
  border: 2px solid var(--tureng-translate-row-border);
  box-shadow: 0 1px 1px rgba(0,0,0,0.18),
              0 2px 2px rgba(0,0,0,0.18),
              0 4px 4px rgba(0,0,0,0.18),
              0 6px 8px rgba(0,0,0,0.18),
              0 8px 16px rgba(0,0,0,0.18);
  scrollbar-color: #6b6b6b #272727;
  scrollbar-width: auto;
}

#tureng-translate-panel::-webkit-scrollbar {width: 10px;}
#tureng-translate-panel::-webkit-scrollbar-thumb {
  background: var(--tureng-translate-scrollbar-thumb);
}
#tureng-translate-panel::-webkit-scrollbar-track {
  background: var(--tureng-translate-scrollbar-track);
}

.tureng-translate-container {
  all: initial;
  visibility: inherit;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 3px 5px;
  border-bottom: 3px solid var(--tureng-translate-red);
  background: var(--tureng-translate-background-light);
}

.tureng-translate-title {
  all: initial;
  visibility: inherit;
  display: block;
  margin: 0;
  padding: 0;
  font-family: "Noto Sans";
  font-size: 12px;
  font-weight: bold;
  color: var(--tureng-translate-white);
}

.tureng-translate-pronunciation-container {
  all: initial;
  visibility: inherit;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 0;
  padding: 0;
}

.tureng-translate-pronunciation {
  all: initial;
  visibility: inherit;
  width: 20px;
  height: 15px;
  margin: 0;
  padding: 0;
  border-radius: 2px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.tureng-translate-pronunciation + .tureng-translate-pronunciation {
  margin-left: 5px;
}

.tureng-translate-pronunciation:hover {
  cursor: pointer;
}

.tureng-translate-table {
  all: initial;
  visibility: inherit;
  display: table;
  width: 100%;
  table-layout: fixed;
  overflow-wrap: break-word;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0;
  box-sizing: border-box;
}

.tureng-translate-table-row {
  all: initial;
  visibility: inherit;
  display: table-row;
  background: var(--tureng-translate-background-light);
  border-top: 1px solid var(--tureng-translate-row-border);
}

.tureng-translate-table-row:nth-child(odd) {
  background: var(--tureng-translate-background);
}

.tureng-translate-table-cell {
  all: initial;
  visibility: inherit;
  display: table-cell;
  padding: 2px 5px;
  vertical-align: middle;
  font-family: inherit;
  font-size: 12px;
  color: var(--tureng-translate-white);
  font-family: "Noto Sans";
}
