@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

:root {
  --white: #f5f5f5;
  --red: #c22131;
  --background: #303030;
  --background-light: #454545;
  --row-border: #272727;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans";
  outline: none;
  border: none;
}

body {
  background: var(--background);
}

#input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  min-width: 180px;
  padding: .3rem;
  position: sticky;
  top:0;
  border-bottom: 2px solid var(--red);
  font-size: .8rem;
  color: var(--white);
  background: var(--background-light);
}

#output {
  color: var(--white);
}

.table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: .8rem;
  word-wrap: break-word;
}

.table-row {
  background: var(--background-light);
  border: 1px solid var(--row-border);
}

.table-row > * {
  max-width: 180px;
  padding: .1rem .5rem;
}

.table-row:nth-child(odd) {
  background: var(--background);
}

.suggestion-container {
  font-size: .8rem;
  background: var(--background);
  padding: .3rem;
}

.suggestion-list { list-style-position: inside; }

.suggestion:hover, .suggestion:focus {
  cursor: pointer;
  background: var(--background-light);
}
.suggestion::marker {
  font-weight: bold;
}

.not-found {
  font-size: .8rem;
  padding: .3rem;
}
